
    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 500px;
      }
      
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
header ul i{
    color: black;
}
.nav2{
  display: flex;
  align-items: center;
  justify-items: center;
}

/* main */

.container {
    display: flex;
    
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    align-items: start;
  }


  .left{
    flex: 1;
    min-width: 300px;
  }
  .right {
    flex: 1;
    min-width: 300px;
  }

  .main-image {
    width: 100%;
    height: 500px;
  }
  .main-image img{
    height: 100%;
  }

  .images {
    display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .images img {
    width: 130px;
    height: 150px;
    object-fit: cover;
  }

  .badge {
    background: rgba(237, 68, 68, 1);
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    display: inline-block;
    margin-bottom: 8px;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    color: #002c5f;
    font-size: 60px;
  }

  .rating {
    color: rgba(255, 181, 37, 1);
    margin: 10px 0;
  }
  .gray{
    color: rgba(63, 71, 75, 1);
    font-size: 18px;
  }
  .pimg{
    margin-bottom: 3px;
  }
  .pimg img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  
  }

  .testimonial {
    background: #f5f5f5;
    padding: 10px;
    color: rgba(63, 68, 108, 1);
    margin-bottom: 15px;
  }

  .features {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    font-size: 16px;
  }



  .price {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .old-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
  }

  .new-price {
    color: rgba(207, 16, 16, 1);
    font-size: 38px;
    font-weight: 500;
  }

  .cart {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .add-to-cart {
    padding: 10px 40px;
    background: rgba(29, 180, 105, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 8px;

  }
  .quantity button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 26px;
    text-align: center;
  }
  .qDel{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #delete{
    cursor: pointer;
  }
  .one{
    font-size: 30px;
    color: rgba(20, 27, 77, 1);
    font-weight: 500;
  }
.guarantee{
    display: flex;
    align-items: center;
}
  .footer-note {
    margin-top: 20px;
    font-size: 0.9rem;
    color: gray;
  }
  .outfit{
    font-family: "Outfit", sans-serif;
  }
  .blue{
    color: blue;
  }
.content{
    display: none;
}
/* cart */

    .cart-drawer {
      position: fixed;
      top: 0;
      right: -400px;
      width: 300px;
      height: 100%;
      background: #fff;
      box-shadow: -2px 0 10px rgba(0,0,0,0.2);
      transition: right 0.3s ease;
      padding: 20px;
      z-index: 1000;
    }
.ptotal{
  display: flex;
  justify-content: space-between;
}
    .cart-drawer.open {
      right: 0;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }

    .cart-content {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    .cart-content.show{
      display: flex;
    }
.pImg{
  height: 130px;
  width: 130px;
  border: 1px solid rgb(125, 123, 123);
  border-radius: 5px;
  padding: 5px;
}
.pImg img{
  width: 100%;
  
}
    .quantity-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin: 10px 0;
      border: 1px solid gray;
      padding: 5px;
    }

    .quantity-controls button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }

    .price-cart {
      font-weight: bold;
    }

    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 900;
      display: none;
    }
.nav2 ul i{
  cursor: pointer;
}
    .backdrop.show {
      display: block;
    }
    
    #decrease{
      border: none;
      background: white;
    }
      #increase{
      border: none;
      background: white;
    }

.bigBanner{
  background-image: url(images/Background.jpg);
display: flex;
width: 90%;
margin: 0 auto;
}
.bigBanner .bigContent{
width: 50%;
padding: 30px;
justify-content: center;
align-items: center;

}
.bigContent h1{

}
.bigImage{
  width: 50%;
  padding: 20px;
  position: relative;
}
.flex{
  display: flex;
  margin-left: 60px;
}
.bigImage img{
  width: 100%;
  height: 100%;
}
.bigBanner h1{
  font-weight: 500;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
}
.bigBanner p{
  color: rgba(255, 255, 255, 1);
 
}
.p1{
  margin-left: 30px;
   margin-bottom: 50px;
}
.p2{
  margin-left: 2px;
   margin-bottom: 10px;
}
.p3-cont{
 margin-left: 75px;
 position: absolute;
}
.p3Img{
  width: 50px;
  height: 50px;
}
.p3-img{
  position: relative;
  right: 410px;
  top: 10px;
  width: 30px;
  height: 30px;
}

footer{
margin-top: 20px;

}
.footer-img{
width: 80%;
height: 50%;
}
.footer-img img{
  width: 100%;
  height: 100%;
}
  @media (max-width: 768px) {
    header{
        display: none;
    }
    .container {
       flex-direction: column;
       
    }
    .badge{
        display: none;
    }
.left{
width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

    .main-image {
        width: 100%;
      }
    
      .images {
        display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2px;
      }
    
      .images img {
        width: 118px;
        height: 120px;
        object-fit: cover;
      }
    .content{
        display: flex;
        flex-direction: column;
     
        
    }

.pimg{
    display: flex;
    gap: 10px;
    align-items: center;
}
    .title {
      font-size: 1.4rem;
    }

    .testimonial {
      font-size: 0.9rem;
    }
.bold{
    font-weight: bold;
}
    .price {
      font-size: 1.4rem;
    }

    .add-to-cart {
      font-size: 0.95rem;
      padding: 10px;
    }
    .features li img{
        display: none;
    }
    .footer-note{
        display: none;
    }
    .cards{
        display: none;
    }
    .old-price{
        display: none;
    }
    .cart{
        display: flex;
        flex-direction: column-reverse;

    }
    .add-to-cart{
        width: 100%;
    }
    .quantity{
        display: flex;
        gap: 15px;
     margin-top: -75px;
        
    }
    .price{
        margin-top: 30px;
        display: inline-block;
    }
    .testimonial{
        background-color: white;
    }
  }